<div class="product {{type}}">
  <div class="product-wrapper">
    <div class="picture">
      <a href="#">
        <img src="img/products/{{picture}}" alt="{{name}}" />
      </a>
    </div>
    <div class="icon"></div>
    <div class="title"><span class="brand">{{brand}}</span> {{name}}</div>
    <div class="price">{{price}}</div>
    <div class="btn-green btn-buy">
      <a href="#">Купить</a>
    </div>
  </div>
</div>
